* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: 'hamlet';
  src: url(Hahmlet-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
	background-color: #000000;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
display: none;
}
a {
  text-decoration: none;
}

/*헤더*/
.header {
	display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 80px;
    width: 100%;
    padding: 0 80px;

}
.mainiconnav{
	display: flex;
    width: 105px;
    height: 44px;
}
.iconnav{
	display: flex;
    width: 105px;
    height: 44px;
}
.material-symbols-rounded {
	font-size: 50px;
    font-weight: 300;
	color: #06DA0D;
}
#material-symbols-rounded {
	font-size: 50px;
    font-weight: 300;
	color: transparent;
}
.pagename {
	font-size: 50px;
	font-family: 'hamlet';
	-webkit-text-stroke: 0.5px #fff;
	color: transparent;
	margin-left: -68px;
}
.header button {
	border: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	cursor: help;
	margin-top: 21px;
}

.hamburger {
	display: flex;
	flex-direction: column;
	background: none;
	border: none;
	outline: none;
    z-index: 20;
}
.hamburger span {
    height: 3px;
    width: 40px;
    border-radius: 2px;
    background-color: #06DA0D;
    margin-bottom: 13px;
    transition: 0.3s ease transform;
}
.hamburger__open span:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 10px);
}
.hamburger__open span:nth-child(2) {
    opacity: 0;
}
.hamburger__open span:nth-child(3) {
    transform: rotate(45deg) translate(-12px, -15px);
}

.header {
	display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 80px;
    width: 100%;
    padding: 0 80px;
}
.mainiconnav{
	display: flex;
    width: 105px;
    height: 44px;
}
.iconnav{
	display: flex;
    width: 105px;
    height: 44px;
}
.material-symbols-rounded {
	font-size: 50px;
    font-weight: 300;
	color: #06DA0D;
}
#material-symbols-rounded {
	font-size: 50px;
    font-weight: 300;
	color: transparent;
}
.pagename {
	font-size: 50px;
	font-family: 'hamlet';
	-webkit-text-stroke: 0.5px #fff;
	color: transparent;
	margin-left: -68px;
}
.header button {
	border: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	cursor: help;
	margin-top: 21px;
}

.hamburger {
	display: flex;
	flex-direction: column;
	background: none;
	border: none;
	outline: none;
    z-index: 20;
}
.hamburger span {
    height: 3px;
    width: 40px;
    border-radius: 2px;
    background-color: #06DA0D;
    margin-bottom: 13px;
    transition: 0.3s ease transform;
}
.hamburger__open span:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 10px);
}
.hamburger__open span:nth-child(2) {
    opacity: 0;
}
.hamburger__open span:nth-child(3) {
    transform: rotate(45deg) translate(-12px, -15px);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1480px;
    overflow: auto;
    width: 100%;
    background-color: #000000;

    z-index: 9;
}
.navbackground {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color:#06DA0D;

    z-index: 2;
}
.nav__content {

    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 3230px;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: -480px;
    text-align: center;
    background-image: url('background.gif');
    background-repeat: no-repeat ;
}
.maintext {
    margin-top: 200px;
    position: relative;
    line-height: 850px;
    font-size: 137px;
    font-family: 'hamlet';
    -webkit-text-stroke-color: #06DA0D;
    -webkit-text-stroke-width: 0.9px;
    color: transparent;
}

.mainbox > .material-symbols-rounded {
    position: relative;
    color:#06DA0D;
    text-align: center;
    margin-top: -170px;
    width: 100%;
    font-size: 100px;
    font-weight: 300;
}



.project_title {
    margin-top: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.project_contents {
    margin-top: 78px;
    font-size: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: center;
}
.project_next {
    margin: 0 auto;
    margin-top: 80px;
    width: 55px;
    height: 73px;
    text-align: center;
}
.project_test_title {
    margin-top: 130px;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    text-align: center;
}
.project_test_person {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: center;
}
.project_test_pic{
    margin: 0 auto;
    margin-top: 90px;
    width: 1165px;
    height: 1158px;
    text-align: center;
}
.project_test_pic_1 {
    display: flex;
    margin: auto;
    width: 1165px;
    height: 560px;
    justify-content: space-between;
}
.project_test_pic1 > img {
    width: 550px;
}
.project_test_pic2 > img {
    width: 550px;
}
.project_test_pic_2 {
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 1165px;
    height: 614px;
    justify-content: space-between;
}
.project_test_pic3 > img{
    width: 550px;
}
.project_test_pic4 > img{
    width: 550px;
}
.project_real_fin {
    margin-top: 99px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: center;

}
/*드러나다*/
.gallery {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.cards {
    position: absolute;
    width: 900px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cards li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 900px;
    height: 530px;
    line-height: 20px;
    text-align: center;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color:#00ff08;
    background-color: #1f1f1f;
    position: absolute;
    border-radius: 0.8rem;
}
.cards > img {
    border-radius: 0.8rem;
}

.actions {
    background-color:transparent ;
    display: flex;
    text-align: center;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    margin-left: 23px;
    justify-content: space-between;
}
.actions > .material-symbols-rounded{
    display:flex;
    border: none;
    color: transparent;
    font-weight: 600;
    cursor: pointer;
    font-size: 80px;
}
.next > button, .prev > button {
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.actions > button {
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.prev > .material-symbols-rounded, .next > .material-symbols-rounded {
    font-size: 80px;
    color: #06da0d77;
    line-height: 500px;
    margin: 0 auto;
}
.prev > .material-symbols-rounded:hover, .next > .material-symbols-rounded:hover {
    color: #06da0d;
}

@media (max-width: 1600px) {
    /*헤더*/
    .header {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        height: 70px;
        width: 100%;
        padding: 0 80px;
    }
    .material-symbols-rounded {
        font-size: 40px;
        font-weight: 300;
    }
    .pagename {
        font-size: 40px;
    }
    .header button {
        margin-top: 12px;
    }
    .hamburger span {
        height: 2px;
        width: 30px;
        border-radius: 2px;
        margin-bottom: 10px;
    }
    .hamburger__open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 10px);
    }
    .hamburger__open span:nth-child(2) {
        opacity: 0;
    }
    .hamburger__open span:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -12px);
    }
    .nav__content {
        margin-top: -374px;
        background-image: url('background.gif');
        background-repeat: no-repeat ;
        background-size: contain;
    }
    .maintext{
        line-height: 700px;
    }

    /*드러나다*/
    .gallery {
        margin-top: -40px;
        display: flex;
        position: absolute;
        width: 100%;
        height: 60vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
      }
    .cards {
        position: absolute;
        width: 700px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cards li {

        list-style: none;
        padding: 0;
        margin: 0;
        width: 700px;
        height: 330px;
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        color:#00ff08;
        background-color: #1f1f1f;
        position: absolute;
        border-radius: 0.8rem;
    }
    .cards li > img {
        width: 700px;
        border-radius: 0.8rem;
    }
    

}
@media (max-width: 1300px) {
    /*헤더*/
    .header {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        height: 70px;
        width: 100%;
        padding: 0 80px;
    }
    .material-symbols-rounded {
        font-size: 40px;
        font-weight: 300;
        margin-top: 2px;
    }
    .pagename {
        margin-right: 6px;
        text-align: center;
        font-size: 33px;
    }
    .header button {
        margin-top: 11px;
    }
    .hamburger span {
        height: 2px;
        width: 30px;
        border-radius: 2px;
        margin-bottom: 10px;
    }
    .hamburger__open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 10px);
    }
    .hamburger__open span:nth-child(2) {
        opacity: 0;
    }
    .hamburger__open span:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -12px);
    }

    /*드러나다*/
    .gallery {
        margin-top: -100px;
        display: flex;
        position: absolute;
        width: 100%;
        height: 60vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
      }
    .cards {
        position: absolute;
        width: 500px;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cards li {

        list-style: none;
        padding: 0;
        margin: 0;
        width: 500px;
        height: 120px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        color:#00ff08;
        background-color: #1f1f1f;
        position: absolute;
        border-radius: 0.8rem;
    }
    .cards li > img {
        width: 500px;
        border-radius: 0.8rem;
    }
    .actions > .material-symbols-rounded{
        display:flex;
        border: none;
        color: transparent;
        font-weight: 400;
        cursor: pointer;
        font-size: 50px;
    }
    .actions {
        background-color:transparent ;
        display: flex;
        text-align: center;
        z-index: 2;
        margin: 0 auto;
        width: 100%;
        margin-left: 20px;
        justify-content: space-between;
        padding: 0 70px;
    }
    .prev > .material-symbols-rounded, .next > .material-symbols-rounded {
        font-size: 60px;
        color: #06da0d77;
        line-height: 500px;
        margin: 0 auto;
    }
}

